.right-label{
    position: absolute;
    right: -60px;
}
.group-container{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #aaa;
}
.group-container .list-group-item {
    padding-bottom: 5px!important;
    padding-top: 5px!important;
}
.group-container .order_count_input{
    height: 38px;
    width: 55px;
    background: #fff;
}
.group-container .control-count{
    width: 32px;
    height: 20px;
    line-height: 0;
}
.group-image{
    width: 100%;
    max-height: 150px;
}

.group-description{
    text-align: justify;
}
.cable-price{
    display: block;
    margin-top: 10px;
}

/*------ MENU ----------*/
#top-menu .lk-btn{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 420px) {
    #top-menu .lk-btn{
        max-width: 110px;

    }
}


/*--- MODAL -----*/
#regModal .modal-header, #loginModal .modal-header{
    padding-top: 15px!important;
}

#loginModal .modal-title{
    color:#666;
}
#loginModal, #CartModal, #regModal {
    color: #666;
}
#regModal small, #loginModal small{
    padding: 0 5px 0 0px;
}

#regModal input[type='number'] {
    -moz-appearance:textfield!important;
}
#regModal input::-webkit-outer-spin-button,
#regModal input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#regModal input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#cart-container{
    text-align: left;
}
#cart-container .btn-remove-cart{
    color: #1a202c;
}
#cart-container .btn-remove-cart:hover{
    background-color: #dc3545;
}
#cart-container #quantity{
    width: 58px;
    height: 35px;
    padding: 5px 0 2px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
#cart-container p{
    font-size: 12px;
}
#cart-container strong{
    display: inline-block;
    text-align: right;
    width: 50%;

}
#cart-container #btn-confirm-order{
    width: 160px;
}
#cart-container .section-confirm{
    text-align: right;
}
#cart-container .modal-footer p{
    font-size: 16px;
}

#cart-container .unauthorized-order button{
    height: 56px;
}
#cart-container .unauthorized-desc{

}

/*#cart-container input[type='number'] {*/
/*    -moz-appearance:textfield!important;*/
/*}*/
/*#cart-container input::-webkit-outer-spin-button,*/
/*#cart-container input::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/
#cart-container p.unauthorized-desc{
    font-size: 12px;
    text-align: center;
}
#cart-container .cart-or p{
    margin: 2px 0 0 -8px;
}


@media (max-width: 400px) {
    #cart-container .cable-title{
        font-size: 14px;
    }
    #cart-container .cable-summ{
        font-size: 12px;
        text-align: right!important;
        padding-left:5px;
    }
    #cart-container .btn-remove-cart{

    }

    #cart-container h6{
        font-size: 12px;
    }

    #cart-container p {
        font-size: 9px;
    }
}

#cart-btn svg{
    margin-top: -6px;
}

#loginModal .alert-danger, #regModal .alert-danger{
    text-align: center;
    font-size: 12px;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
}



/*-------------- ACCOUNT --------------*/
#account .accordion-button{
    background: #666;
    color: white;
}
#account .panel-heading button{
    width: 100%;
}
#account .btn-success, #account .btn-warning{
    width: 100%;

}
#account input[type='number'] {
    -moz-appearance:textfield;
}
#account input::-webkit-outer-spin-button,
#account input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/*--FOOTER*/
footer{
    margin-top: 40px!important;
}
footer .company-name{
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
    border-top:1px dotted #aaa;
}
footer .company-contacts, footer .footer-menu{
}
footer .mb-2{
    margin: 0!important;
}

@media (max-width: 575px) {
    footer #map-container{
        margin-top: 30px;
    }
}

.admin_account .btn-order-delete{
    width: 100%;
}
.admin_account #status_filter{
    margin: -25px 0 0 0;
    height: 50px;
}
.admin_account .btn-filter{
    height: 50px;
    margin-top: 0;
}
#accordionGroups .category-image{
    max-width: 200px;
}
