@font-face {
    font-family: RubikRegular;
    src: url("fonts/Rubik-Regular.ttf");
}
@font-face {
    font-family: RubikLight;
    src: url("fonts/Rubik-Light.ttf");
}
@font-face {
    font-family: RubikBold;
    src: url("fonts/Rubik-Bold.ttf");
}
body{
    background: #333;
    font-family: RubikLight;
}
.rubik{
    font-family: RubikRegular;
}

.rubik-light{
    font-family: RubikLight;
}

.rubik-bold{
    font-family: RubikBold;
}
.lead{
    font-family: system-ui;
}
#featured h2, #requisites h2{
    border-bottom: 5px solid #f89538;
}
#requisites p{
    font-family: system-ui;
}

.accordion-item{
    border: none;
}
.active{
    color: #ffc107!important;
}
.site-nav{
    border-bottom: 5px solid #f89538;
}
.site-nav li{
    font-family: RubikLight;
}
footer{
    background: #333;
    border-bottom: 5px solid #f89538;
    border-top: 5px solid #f89538;
}
.social-links #vk img, .social-links #wa img{
    width: 40px;
    height: 40px;
}

.social-links #tg img{
    width: 55px;
    height: 55px;
    margin-top: -7px;
}
.social-links #vk img{
    width: 40px;
    height: 40px;
}
.groups-container thead{
    background: #f89538;
    border: 5px solid #f89538;
    border-radius: 10px;
}

.bg-orange{
    background: #f89538;
}
.text-orange{
    color: #f89538;
    text-decoration: inherit;
}
.border-orange{
    border: 5px solid #f89538;
    border-radius: 15px;
}

.btn-orange {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f89538;
    --bs-btn-border-color: #f89538;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f89538;
    --bs-btn-hover-border-color: #f89538;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f89538;
    --bs-btn-active-border-color: #f89538;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f89538;
    --bs-btn-disabled-border-color: #f89538;
}
.cable-category{
    border: 5px solid #f89538;
    border-radius: 15px;
}


#lines, #linesf{
    width: 40%;
    z-index: -1;
}
#call-us{top:10px;}
.alert-dismissible{
    text-align: center;
}
.right-label{
    position: absolute;
    right: -60px;
}
.work-hours{
    margin-top:-10px;
}
.group-container{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #aaa;
}
.group-container .list-group-item {
    padding-bottom: 5px!important;
    padding-top: 5px!important;
}
.group-container .order_count_input{
    height: 38px;
    width: 55px;
    background: #fff;
}
.group-container .control-count{
    width: 32px;
    height: 20px;
    line-height: 0;
}
.group-image{
    width: 100%;
    max-height: 150px;
}

.group-description{
    text-align: justify;
}
.cable-price{
    display: block;
}
.cable-instock{
    margin-top: -5px;
}

.content-container{
    margin-top: 70px;
}

@media (max-width: 992px) {
    .content-container{
        margin-top: 120px;
    }

}
.modal-backdrop{
    z-index: 1029;
}


/*------ MENU ----------*/
#top-menu .lk-btn{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 420px) {
    #top-menu .lk-btn{
        max-width: 110px;

    }

    #top-menu li{
        font-size: 12px;
    }

footer    .col-6{
        width: 100%;
    }

footer .company-contacts{
    margin-top: 10px;
}
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}
/*--- MODAL -----*/
.modal-header {
    background: #f89538;
}

#regModal .modal-header, #loginModal .modal-header{
    padding-top: 15px!important;
}

#loginModal .modal-title{
}
.modal-title{
    font-family: RubikBold;
}

#loginModal, #CartModal, #regModal, #recoverModal {
    color: #666;
}
#regModal small, #loginModal small{
    padding: 0 5px 0 0px;
}

#regModal input[type='number'] {
    -moz-appearance:textfield!important;
}
#regModal input::-webkit-outer-spin-button,
#regModal input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#regModal input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.modal-header {
    border: none;
}
#cart-container{
    text-align: left;
}
#cart-container .btn-remove-cart{
    color: #1a202c;
}
#cart-container .btn-remove-cart:hover{
    background-color: #dc3545;
}
#cart-container #quantity{
    width: 35px;
    height: 35px;
    padding: 5px 0 2px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
#cart-container p{
    font-size: 12px;
}

#cart-container #btn-confirm-order{
    width: 100%;
}
#cart-container .section-confirm{
    text-align: right;
}
#cart-container .modal-footer p{
    font-size: 16px;
}

#cart-container .unauthorized-order button{
    height: 56px;
}


/*#cart-container input[type='number'] {*/
/*    -moz-appearance:textfield!important;*/
/*}*/
/*#cart-container input::-webkit-outer-spin-button,*/
/*#cart-container input::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/

#cart-container .modal-footer p.unauthorized-desc{
    font-size: 13px;
}

#cart-container .cart-or p{
    margin: 2px 0 0 -8px;
}
#cart-container .unauthorized-controls button{
    width: 100%;
}
.cart-add, .cart-added{
    height: 30px;
    padding: 0 10px 0 10px;
}
.error-404{
    font-size: 7em;
}
@media (max-width: 450px) {

    #cables-container .cable-title, #cables-container .cable-instock,
    #cables-container .cable-footage,
    #cables-container .cable-price {
        font-size: 10px;
    }
    #cables-container .cable-price{
        font-size: 10px;
    }
    #cart-container .cable-title{
        font-size: 14px;
    }
    #cart-container .cable-summ{
        font-size: 12px;
        text-align: right!important;
        padding-left:5px;
    }
    #cart-container .btn-remove-cart{

    }

    .cart-add, .cart-added{
        height: 40px;
    }

    #cart-container h6, .regions{
        font-size: 12px;
    }

    #cart-container p {
        font-size: 9px;
    }
}

#cart-btn svg{
    margin-top: -6px;
}

#loginModal .alert-danger, #regModal .alert-danger{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
}

.modal-content{ background: #666666}
/*.modal-content input{*/
/*    background: #333;*/
/*}*/

.btn-close{
    background: url(/images/power.svg) center/2em auto no-repeat;
    line-height: 0;
    opacity: 0.8;
}
.btn-close:hover {
    color: white;
    opacity: 1;
}

/*-------------- ACCOUNT --------------*/
#account .accordion-button{
    background: transparent;
    color: white;
    font-family: RubikBold;
    text-transform: uppercase;
    padding: 0;
    box-shadow: none;
    border-bottom: 5px solid orange;
    border-top: 1px solid white;
    padding-top: 8px;
    border-radius: 0;
}

#account .accordion-item{
    background: transparent;
}
#account .accordion-header{
    border:none;
    background: transparent;
}

#account .panel-heading button{
    width: 100%;
}
#account .btn-success, #account .btn-warning{

}
#account input[type='number'] {
    -moz-appearance:textfield;
}
#account input::-webkit-outer-spin-button,
#account input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/*--FOOTER*/
footer{
    margin-top: 40px!important;
}
footer .company-name{
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
}
footer .company-contacts, footer .footer-menu{
}
footer .mb-2{
    margin: 0!important;
}

@media (max-width: 575px) {
    footer #map-container{
        margin-top: 30px;
    }

    .groups-container{
        font-size: 10px;
    }
    .cable-category h2{
        font-size: 16px;
    }

    .cart-add, .cart-added{
        height: 28px;
        margin-top: -5px;
    }
    .order-cable{
        font-size: 12px;
    }
}

.admin_account .btn-order-delete{
    width: 100%;
}
.admin_account #status_filter{
    margin: -25px 0 0 0;
    height: 50px;
}
.admin_account .btn-filter{
    height: 50px;
    margin-top: 0;
}
#accordionGroups .category-image{
    max-width: 200px;
}

/*------------------- Quantity input ------------------*/
.qty .count {
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 0 2px;
    width: 20px;
    text-align: center;
    background: #666;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 16px;
    height: 16px;
    font: 15px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 30%;
    background-clip: padding-box;
}
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 16px;
    height: 16px;
    font: 15px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 30%;
    background-clip: padding-box;
}

.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
.qty span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.qty input{
    border: 0;
    width: 2%;
}
.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.qty input:disabled{
    background-color:white;
}
